<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Form</title>
  </head>
  <body>
    <h1>This form can be use to test the create user endpoint. The password should contain atleast 6 letters. The user created can be be retrieved on https://api.zuri.chat/users/search/{firstname}</h1>

    <form action="/process" method="POST">
      <input type="text" name="first_name" id="" placeholder="First Name" />
      <input type="text" name="last_name" id="" placeholder="Last Name" />
      <input type="text" name="email" id="" placeholder="Email" />
      <input type="text" name="display_name" id="" placeholder="Display Name" />
      <input type="text" name="phone" id="" placeholder="Phone Number" />
      <input type="text" name="password" id="" placeholder="Password" />

      <input type="submit" value="submit" />
    </form>
  </body>
</html>
