<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
			rel="stylesheet"
		/>
		<!-- <link rel="stylesheet" href="./style.css" /> -->
		<script src="https://use.fontawesome.com/6bfc6adc6e.js"></script>
		<title>Invite Email</title>
	</head>
	<body>
		<div class="body" style="width: 40%; margin: 0 auto">
			<div class="header" style="font-size: 1.75rem">
				<div style="text-align: center; padding: 1.25rem 7.5rem 1.25rem 0">
					<img
						src="https://res.cloudinary.com/dkhysaggr/image/upload/v1633164234/luiwevaygnic3jgdrzdu.png"
						alt="Zuri logo"
					/>
				</div>
				<h6
					style="
						font-size: 1.75rem;
						margin: 0;
						line-height: 2.275rem;
						font-weight: 400;
					"
				>
					Join your team on Zurichat
				</h6>
			</div>
			<div
				class="hello-text"
				style="font-size: 0.9375rem; line-height: 1.75rem"
			>
				<p>
					Hello 👋🏽
					<br />
					Chibaby (chiomaonwuzulike@gmail.com) has invited you to use Zurichat
					with them, <br />in a workspace called HNGi8
				</p>
			</div>
			<div
				class="main-content"
				style="
					border: 1px solid #000000;
					width: 85%;
					margin: 1rem auto;
					padding: 1rem 0.5rem;
					text-align: center;
					border-radius: 4px;
				"
			>
				<img src="./assets/Group 1685.png" alt="workspace logo" />
				<p
					class="workspace_name"
					style="font-size: 1.125rem; font-weight: 700; margin: 0.4rem 0 0"
				>
					HNGi8
				</p>
				<a
					href="#"
					class="workspace_link"
					style="
						font-size: 0.8125rem;
						color: #1264a3;
						text-decoration: none;
						margin: 0;
					"
					>hng.zuri.chat</a
				>
				<button
					style="
						display: block;
						width: 7.875rem;
						background-color: #00b87c;
						color: #ffffff;
						padding: 0.75rem 0;
						margin: 1rem auto;
						font-size: 0.9375rem;
						border-radius: 4px;
						border: none;
						outline: none;
					"
				>
					Join now
				</button>
				<p
					class="joined_info"
					style="
						font-size: 0.9375rem;
						font-weight: 700;
						border-top: 1px solid rgba(0, 0, 0, 0.24);
						padding: 0.5rem 0;
						margin-left: 0.2rem;
					"
				>
					Chioma Onwuzulike and 4 others have joined
				</p>
				<div
					class="members_image"
					style="
						width: 35%;
						margin: 0 auto 4rem;
						display: flex;
						justify-content: space-between;
					"
				>
					<img
						src="https://res.cloudinary.com/dkhysaggr/image/upload/v1633163740/sgu3nibk3cc9adgz2bsu.png"
						alt="user image"
					/>
					<img
						src="https://res.cloudinary.com/dkhysaggr/image/upload/v1633163740/sgu3nibk3cc9adgz2bsu.png"
						alt="user image"
					/>
					<img
						src="https://res.cloudinary.com/dkhysaggr/image/upload/v1633163740/sgu3nibk3cc9adgz2bsu.png"
						alt="user image"
					/>
					<img
						src="https://res.cloudinary.com/dkhysaggr/image/upload/v1633163740/sgu3nibk3cc9adgz2bsu.png"
						alt="user image"
					/>
				</div>
			</div>
			<div
				class="divider"
				style="
					width: 25%;
					margin: 0.5rem auto;
					border-top: 0.1px solid rgba(0, 0, 0, 0.24);
				"
			></div>
			<div class="workspace_info">
				<h6
					style="
						font-size: 1.75rem;
						font-weight: 400;
						line-height: 2rem;
						margin: 0.6875rem 0;
					"
				>
					What is Zurichat?
				</h6>
				<p
					style="
						font-size: 0.9375rem;
						line-height: 130%;
						color: #666666;
						margin: 0.6875rem 0 3rem 0;
					"
				>
					Zuri Chat is where work meets fun. Activate body and mind, maintain
					high productivity levels, connect and interact with your team
					comfortably and efficiently.<br /><br />
					Get all your work tools and information assembled in one place for
					easy access and increase Productivity.
					<a
						href="#"
						style="
							font-size: 0.8125rem;
							color: #1264a3;
							text-decoration: none;
							margin: 0;
						"
						>Learn more about Zurichat</a
					>
				</p>
			</div>
			<div
				class="footer"
				style="width: 70%; margin: 0 auto; text-align: center; color: #999999"
			>
				<div
					class="social"
					style="
						width: 22%;
						margin: 1rem auto;
						display: flex;
						justify-content: space-between;
					"
				>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
				</div>
				<p class="zuri" style="font-size: 1.125rem">ZuriChat</p>
				<div
					class="copyright"
					style="
						width: 50%;
						margin: 0 auto;
						display: flex;
						justify-content: space-between;
						font-size: 0.75rem;
					"
				>
					<p>Copyright © 2020</p>
					<p>
						<a
							href="#"
							id="zuri_social"
							style="
								color: #1264a3;
								text-decoration: none;
								margin: 0;
								font-size: 0.75rem;
							"
							>Zuri.chat</a
						>
					</p>
					<p>Policies</p>
				</div>
			</div>
		</div>
	</body>
</html>
